#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
  z-index: 1;
}

#chat-screen .alt-header {
  z-index: 2;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 25px;
  margin-right: 15px;
}

.message__author {
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 15px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  font-size: 18px;
  margin-right: 5px;
  border-top-left-radius: 0px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 10px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
}

.reply input {
  padding: 10px;
  height: 30px;
  width: 100%;
  border: var(--main-border);
  position: relative;
  border-radius: 20px;
}

.reply i {
  opacity: 0.5;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.reply__column:last-child > i {
  right: 60px;
  top: 20px;
}

.reply__column:button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .far fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within input {
  width: 95vw;
  transform: translateX(-13%);
}

.reply input:focus {
  width: 98vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
