#chat-screen{
    background-color: #abc1d1;
    height: 11000vh;
    z-index: 1;
}

#chat-screen .alt-header{
    z-index: 2;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

#chat-screen .status-bar{
    background-color: #abc1d1;
}

.main-chat{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp{
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    font-size: 14px;
    border-radius: 25px;
}

.message-row{
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 25px;
}

.message-row img{
    width: 50px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-right: 15px;
}

.message__author{
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 15px;
    display: block;
}

.message__bubble{
    background-color: white;
    padding: 13px;
    border-radius: 15px;
    font-size: 18px;
    margin-right: 5px;
    border-top-left-radius: 0px;
}

.message__info{
    display: flex;
    align-items: flex-end;
}

.message__time{
    opacity: 0.8;
    font-size: 14px;
}

.message-row--own{
    justify-content: flex-end;
}

.message-row--own .message__bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-left: 10px;
}

.message-row--own .message__info{
    flex-direction: row-reverse;
}

.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
}

.reply .reply__column:first-child{
    width: 10%;
}

.reply .reply__column:last-child{
    width: 90%;
}

.reply input{
    height: 30px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
}