#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-top: 20px;
  font-size: 16px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin: 10px 0px;
}

.friends-screen {
  margin-top: 10px;
  padding: 0px var(--horizontal-space);
}
