/* Google Fonts에서 리소스 구할 수 있음 폰트는 상단에*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
/* Screens */
@import "screens/login.css";


/* styles.css에는 모든 화면에 적용되는 것들을 적는다. */
body{
    font-family: 'Open Sans', sans-serif;
}