.nav {
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  /* padding 상관없이 박스 사이즈 고정 */
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: inherit;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.nav__new {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  font-weight: 600;
  position: absolute;
  left: 30px;
  top: -10px;
}
