.nav {
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  /* padding 상관없이 박스 사이즈 고정 */
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: inherit;
  position: relative;
}

@keyframes notificationAnimation{
  0%{
    transform:none;
  }
  50%{
    transform: translateY(-3px) rotateY(360deg);
  }
  100%{
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 20px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes appearBtnAnimation{
  from{
    transform: translateY(80px);
    opacity: 0;
  }
  to{
    transform: none;
    opacity: 1;
  }
}

.nav__link{
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.5s ease-in-out forwards;
}

.nav__link:nth-child(2){
  animation-delay: 0.3s;
}
.nav__link:nth-child(3){
  animation-delay: 0.5s;
}
.nav__list:last-child{
  animation-delay: 0.8s;
}

.nav__new {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  font-weight: 600;
  position: absolute;
  left: 30px;
  top: -10px;
}
